:root {
  --light-blue: #4285f4;
}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

.header {
  padding: 20px 0px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

h1 {
  margin: 0;
  font-weight: 500;
  font-size: xx-large;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.github-avatar {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #cbcbcb;
  border-radius: 100%;
}

.github-avatar > img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
  border-radius: 100%;
}

.github-avatar > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: #cbcbcb;
  opacity: 0;
  z-index: -1;
  border-radius: 100%;
  transition: opacity 0.2s linear;
}

.github-avatar:hover > div {
  opacity: 0.4;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.select-language {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.select-language select {
  flex: 1;
  text-overflow: ellipsis;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: 1px solid #cbcbcb;
  font-weight: 500;
  color: var(--light-blue);
  cursor: pointer;
}

.select-language select,
.select-language select option {
  font-size: 1rem;
}

.select-language select option {
  color: initial;
}

.select-language button {
  width: 50px;
  padding: 10px;
}

/* .select-language button, .from-text button { */
button:has(svg) {
  border: none;
  background-color: transparent;
  text-align: center;
  color: #c2c2c2;
  cursor: pointer;
  transition: color 0.1s linear;

  &:hover {
    color: #2a2a2a;
  }
}

button.speaking:has(svg) {
  color: var(--light-blue);
}

button:disabled {
  pointer-events: none;
}

.translate-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 50px;
}

.translate-content div {
  position: relative;
  flex: 1;
}

.translate-content div textarea {
  width: 100%;
  min-height: 200px;
  height: 100%;
  padding: 10px;
  padding-bottom: 50px;
  border: none;
  font-size: 1.5rem;
  resize: none;
  field-sizing: content;
  border-radius: 8px;
  outline: none;
}

textarea:disabled {
  background-color: #f0f4f9;
}

/* BOTONES DE INTERACCIÓN */
.from-text > button {
  position: absolute;
  right: 5px;
  top: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.translate-content .from-text > textarea {
  padding-right: 40px;
}

.result > div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 10px;
  display: flex;
  gap: 15px;

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

@media (max-width: 750px) {
  .translate-content {
    flex-direction: column;
    gap: 25px;
  }

  .translate-content div {
    width: 100%;
  }
}
